<div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><div class="btn" (click)="triggerOrder($event, 'name')">Имя<span class="glyphicon" aria-hidden="true" [className]="getClassName('name')"></span></div></th>
        <th><div  class="btn" (click)="triggerOrder($event, 'gender')">Пол<span class="glyphicon" aria-hidden="true" [className]="getClassName('gender')"></span></div></th>
        <th><div  class="btn" (click)="triggerOrder($event, 'department')">Департамент<span class="glyphicon" aria-hidden="true" [className]="getClassName('department')"></span></div></th>
        <th><div  class="btn" (click)="triggerOrder($event,'address')">Адрес<span class="glyphicon" aria-hidden="true" [className]="getClassName('address')"></span></div></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of orderedList;">
        <td>{{user.name}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.department}}</td>
        <td>{{user.address | address}}</td>
      <tr>
    </tbody>
  </table>
</div>
